.name{
	color: blue;
}

.text > p {
	color: red;
}

span {
	color: green;
}

.release p{
	color: pink;
}

.text .game{
	color: brown;
}

.game-shame ~ p {
	color: black;
}

.first-row + p {
	color: yellow;
}

.text-compaigns > p {
	color: orange;
}

.text-introduce * {
	color: gray;
}